body {
    background: url('../img/bg.png') center center/cover no-repeat;
    margin: 16px;
}
div {
	text-align: center;
	color: white;
	font-size: 50px;
}
@font-face {
	font-family: "slkscr";
	src: url("../fonts/slkscr.ttf")format("truetype"); 
	font-style: normal;
	font-weight: normal;
}
h1 {
	font-family: "slkscr";
}
    
